*{
    margin: 0;
    padding:0;
}
h1{
    text-align: center;
    height: 60px;
    background-color: #8953b1;
    line-height: 60px;
}
.choices{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap:1rem;
}
.choice{
    font-size: 2rem;
}
.scro{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.score-board{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2rem;
    display: flex;
    gap:2rem;
    justify-content: center;
}
.msg-box{
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
}
.msg{
    padding:1rem;
    border-radius: 0.5rem;
    background-color: #e400ff;
}